# Analisis de datos sobre el Titanic

In [3]:
import numpy as np
import pandas as pd

In [4]:
titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Diccionario de variables (features o columnas)

|Feature|Descripción |tipo de dato |clasificación de dato |tratamiento |
|---|--- |---- |--- |--- |
|``PassengerId``|  identificador único del pasajero. |int |indice | |
|``Survived``| si el pasajero sobrevivió al naufragio, codificada como 0 (no) y 1 (si). |int | | |
|``Pclass``| clase a la que pertenecía el pasajero: 1, 2 o 3. |int | | |
|``Name``| nombre del pasajero | | | |
|``Sex``| sexo del pasajero. | | | |
|``Age``| edad del pasajero. | | | |
|``SibSp``|número de hermanos, hermanas, hermanastros o hermanastras en el barco. | | | |
|``Parch``|número de padres e hijos en el barco.| | | |
|``Ticket``|  identificador del billete. | | | |
|``Fare``| precio pagado por el billete. | | | |
|``Cabin``| identificador del camarote asignado al pasajero. | | | |
|``Embarked``| puerto en el que embarcó el pasajero. | | | |

# Analisis tecnico

In [149]:
us_eur_pound = pd.read_csv(r"C:\Users\Felipe\Downloads\EDA_USD_INFLATION\Foreign_Exchange_Rates.csv", index_col=0)

btc_dataset = pd.read_csv(r"C:\Users\Felipe\Downloads\EDA_USD_INFLATION\BTC-USD_stock_data.csv")

us_eur_pound_from_2017 = us_eur_pound[us_eur_pound['Time Serie'] >= "2017-01-01"]
us_eur_pound_from_2017
# us_eur_pound_from_2017['EURO AREA - EURO/US$','UNITED KINGDOM - UNITED KINGDOM POUND/US$']
# us_eur_pound_from_2017 = [us_eur_pound_from_2017[]]

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
4435,2017-01-02,ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
4436,2017-01-03,1.3829,0.9601,1.4436,0.8159,3.2526,1.3437,6.9575,7.7561,68.37,...,1.4498,7.1376,117.68,4.49,8.6489,9.1583,149.8,1.0266,32.37,35.89
4437,2017-01-04,1.3755,0.9546,1.4391,0.8131,3.2139,1.3293,6.9322,7.7544,67.9,...,1.4409,7.0963,117.38,4.496,8.5925,9.1108,149.35,1.0228,32.16,35.82
4438,2017-01-05,1.3635,0.9436,1.4241,0.8055,3.2051,1.3216,6.887,7.754,67.74,...,1.4292,7.0138,115.46,4.483,8.4944,8.9981,149.7,1.0107,31.78,35.67
4439,2017-01-06,1.3689,0.947,1.4341,0.8121,3.2113,1.3216,6.9176,7.7547,68.12,...,1.4372,7.0398,116.85,4.471,8.5193,9.0421,149.7,1.015,32,35.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,2019-12-25,ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
5213,2019-12-26,1.4411,0.9007,1.5002,0.7688,4.0602,1.3124,6.9949,7.788,71.28,...,1.354,6.7295,109.67,4.1337,8.8799,9.4108,181.3,0.9808,30.11,30.15
5214,2019-12-27,1.4331,0.8949,1.4919,0.7639,4.0507,1.3073,6.9954,7.7874,71.45,...,1.352,6.6829,109.47,4.126,8.8291,9.3405,181.35,0.9741,30.09,30.14
5215,2019-12-30,1.4278,0.8915,1.4846,0.761,4.0152,1.3058,6.9864,7.7857,71.3,...,1.3483,6.6589,108.85,4.1053,8.7839,9.3145,181.6,0.9677,30.04,29.94
5216,2019-12-31,1.4225,0.8907,1.4826,0.7536,4.019,1.2962,6.9618,7.7894,71.36,...,1.3446,6.6554,108.67,4.0918,8.7823,9.3425,181.3,0.9677,29.91,29.75

In [151]:
btc_dataset_filtered = btc_dataset[['Date','Close']]
btc_dataset_filtered

            Date         Close
0     2017-01-01    998.325012
1     2017-01-02   1021.750000
2     2017-01-03   1043.839966
3     2017-01-04   1154.729980
4     2017-01-05   1013.380005
...          ...           ...
2831  2024-10-02  60632.785156
2832  2024-10-03  60759.402344
2833  2024-10-04  62067.476562
2834  2024-10-05  62089.949219
2835  2024-10-06  62818.953125

[2836 rows x 2 columns]