# Analisis de datos sobre el Titanic

In [41]:
import numpy as np
import pandas as pd

In [42]:
titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Diccionario de variables (features o columnas)

|Feature|Descripción |tipo de dato |clasificación de dato |tratamiento |
|---|--- |---- |--- |--- |
|``PassengerId``|  identificador único del pasajero. |int |indice | |
|``Survived``| si el pasajero sobrevivió al naufragio, codificada como 0 (no) y 1 (si). |int | | |
|``Pclass``| clase a la que pertenecía el pasajero: 1, 2 o 3. |int | | |
|``Name``| nombre del pasajero | | | |
|``Sex``| sexo del pasajero. | | | |
|``Age``| edad del pasajero. | | | |
|``SibSp``|número de hermanos, hermanas, hermanastros o hermanastras en el barco. | | | |
|``Parch``|número de padres e hijos en el barco.| | | |
|``Ticket``|  identificador del billete. | | | |
|``Fare``| precio pagado por el billete. | | | |
|``Cabin``| identificador del camarote asignado al pasajero. | | | |
|``Embarked``| puerto en el que embarcó el pasajero. | | | |

# Analisis tecnico