# Regiment

### Paso 1. Importar librerias

In [1]:
import pandas as pd

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [3]:
regimiento = pd.DataFrame(raw_data)

In [4]:
regimiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   regiment       12 non-null     object
 1   company        12 non-null     object
 2   name           12 non-null     object
 3   preTestScore   12 non-null     int64
 4   postTestScore  12 non-null     int64
dtypes: int64(2), object(3)
memory usage: 612.0+ bytes

In [5]:
regimiento.describe()

       preTestScore  postTestScore
count     12.000000      12.000000
mean      11.083333      62.333333
std       12.324833      21.376850
min        2.000000      25.000000
25%        2.750000      57.000000
50%        3.500000      62.000000
75%       24.000000      70.000000
max       31.000000      94.000000

In [6]:
regimiento.isnull().sum()

regiment         0
company          0
name             0
preTestScore     0
postTestScore    0
dtype: int64

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [7]:
regimiento[regimiento['regiment'] == "Nighthawks"][['preTestScore']].mean()

preTestScore    15.25
dtype: float64

### Paso 5. Presentar estadísticas generales por empresa

In [8]:
general_by_company = regimiento.groupby(['regiment','company']).describe()
general_by_company

                   preTestScore                                             \
                          count  mean        std   min    25%   50%    75%
regiment   company
Dragoons   1st              2.0   3.5   0.707107   3.0   3.25   3.5   3.75
           2nd              2.0  27.5   4.949747  24.0  25.75  27.5  29.25
Nighthawks 1st              2.0  14.0  14.142136   4.0   9.00  14.0  19.00
           2nd              2.0  16.5  20.506097   2.0   9.25  16.5  23.75
Scouts     1st              2.0   2.5   0.707107   2.0   2.25   2.5   2.75
           2nd              2.0   2.5   0.707107   2.0   2.25   2.5   2.75

                         postTestScore                                      \
                     max         count  mean        std   min    25%   50%
regiment   company
Dragoons   1st       4.0           2.0  47.5  31.819805  25.0  36.25  47.5
           2nd      31.0           2.0  75.5  26.162951  57.0  66.25  75.5
Nighthawks 1st      24.0           2.0  59.5  48.790368  25.0  42.25  59.5
           2nd      31.0           2.0  59.5   3.535534  57.0  58.25  59.5
Scouts     1st       3.0           2.0  66.0   5.656854  62.0  64.00  66.0
           2nd       3.0           2.0  66.0   5.656854  62.0  64.00  66.0


                      75%   max
regiment   company
Dragoons   1st      58.75  70.0
           2nd      84.75  94.0
Nighthawks 1st      76.75  94.0
           2nd      60.75  62.0
Scouts     1st      68.00  70.0
           2nd      68.00  70.0

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [9]:
general_by_company['preTestScore'][['mean']]

                    mean
regiment   company
Dragoons   1st       3.5
           2nd      27.5
Nighthawks 1st      14.0
           2nd      16.5
Scouts     1st       2.5
           2nd       2.5

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [10]:
general_by_company['preTestScore'][['mean']]

                    mean
regiment   company
Dragoons   1st       3.5
           2nd      27.5
Nighthawks 1st      14.0
           2nd      16.5
Scouts     1st       2.5
           2nd       2.5

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [11]:
regimiento.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()
# regimiento.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index(drop=True)
# regimiento.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index(name='pretest_average')
# regimiento.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index(level='regiment')

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [12]:
regimiento.groupby(['regiment','company'])

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

In [13]:
regimiento.groupby(['regiment']).size()
regimiento.groupby(['regiment','company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)

In [14]:
# regimiento[regimiento['regiment'] == "Nighthawks"]

# def agrupa(nombre_regimiento):
#     # for n in regimiento:
#         if nombre_regimiento == 'Nighthawks':
#             print(regimiento[regimiento['regiment'] == "Nighthawks"])
#         elif nombre_regimiento == 'Dragoons':
#             print(regimiento[regimiento['regiment'] == "Dragoons"])
#         elif nombre_regimiento == 'Scouts':
#             print(regimiento[regimiento['regiment'] == "Scouts"])
#         else:
#             print('error')

# agrupa('Nighthawks')

In [35]:
def agrupa(df, regiment):
    
    filtered_df = df[df['regiment'] == regiment]
    
    if filtered_df.shape[0] == 0:
        print("There's no data")
    else:
        print(filtered_df)


agrupa(regimiento,'Nighthawks')

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62