# Ex - GroupBy

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Paso 3. Asígnalo a una variable llamada bebidas.

In [2]:
bebidas = pd.read_csv("drinks.csv")
bebidas.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [3]:
bebidas.loc[bebidas['continent'].isna(), 'continent'] = 'NA'

In [4]:
bebidas.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [6]:
bebidas.groupby('continent')[['beer_servings']].mean().sort_values('beer_servings').tail(1)

           beer_servings
continent
EU            193.777778

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [7]:
bebidas.groupby('continent')[['wine_servings']].describe()

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
NA                 23.0   24.521739  28.266378  1.0   5.0   11.0   34.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
NA         100.0
OC         212.0
SA         221.0

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [11]:
round(bebidas.groupby('continent').mean(numeric_only=True),2)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.47,16.34,16.26,3.01
AS,37.05,60.84,9.07,2.17
EU,193.78,132.56,142.22,8.62
NA,145.43,165.74,24.52,6.00
OC,89.69,58.44,35.62,3.38
SA,175.08,114.75,62.42,6.31

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [12]:
round(bebidas.groupby('continent').median(numeric_only=True),2)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
NA,143.0,137.0,11.0,6.30
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [14]:
round(bebidas.groupby('continent')['total_litres_of_pure_alcohol'].agg(['median','min','max']),2)

           median  min   max
continent
AF           2.30  0.0   9.1
AS           1.20  0.0  11.5
EU          10.00  0.0  14.4
NA           6.30  2.2  11.9
OC           1.75  0.0  10.4
SA           6.85  3.8   8.3