# Ex - GroupBy

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Paso 3. Asígnalo a una variable llamada bebidas.

In [2]:
bebidas = pd.read_csv("drinks.csv")
bebidas.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [13]:
bebidas.loc[bebidas['continent'].isna(), 'continent'] = 'NA'

In [14]:
bebidas.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [15]:
bebidas.groupby('continent')[['beer_servings']].max().sort_values('beer_servings').tail(1)

           beer_servings
continent
AF                   376

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [16]:
bebidas.groupby('continent')[['wine_servings']].sum()

           wine_servings
continent
AF                   862
AS                   399
EU                  6400
NA                   564
OC                   570
SA                   749

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [7]:
round(bebidas.groupby('continent')['total_litres_of_pure_alcohol'].mean(),2)

continent
AF    3.01
AS    2.17
EU    8.62
NA    6.00
OC    3.38
SA    6.31
Name: total_litres_of_pure_alcohol, dtype: float64

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [8]:
round(bebidas.groupby('continent')['total_litres_of_pure_alcohol'].median(),2)

continent
AF     2.30
AS     1.20
EU    10.00
NA     6.30
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [9]:
round(bebidas.groupby('continent')['total_litres_of_pure_alcohol'].agg(['mean','min','max']),2)

           mean  min   max
continent
AF         3.01  0.0   9.1
AS         2.17  0.0  11.5
EU         8.62  0.0  14.4
NA         6.00  2.2  11.9
OC         3.38  0.0  10.4
SA         6.31  3.8   8.3