# SQL

## Instalación de PostgreSQL
Si aún no tienes PostgreSQL instalado, puedes instalarlo manualmente dependiendo de tu sistema operativo:

### En Ubuntu/Debian:

```bash
sudo apt-get update
sudo apt-get install postgresql postgresql-contrib
sudo service postgresql start
```

### En macOS usando Homebrew:

```bash
brew update
brew install postgresql
brew services start postgresql
```

### En Windows:
Puedes descargar el instalador de PostgreSQL desde la [página oficial](https://www.postgresql.org/download/windows/). Durante la instalación, asegúrate de incluir pgAdmin y otras herramientas útiles.

Una vez instalado, el servicio PostgreSQL debería iniciar automáticamente. Si no, puedes iniciarlo desde el "Services" o "Servicios".

## Configuración

### En Mac y Linux:

```bash
sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';"
```

### En Windows:
1. Incluir PostgreSQL en las variables de entorno
```text
    C:\Program Files\PostgreSQL\16\bin
```
2. Abre la "Terminal" como administrador.

3. Ejecuta psql:
```bash
    psql -U postgres
```
4. Dentro de psql, ejecuta el comando:
```SQL
    CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';
```

## Conexión a PostgreSQL usando SQLAlchemy

In [2]:
import os
import sqlite3

sqlite_output_file = "practica_sql.db"

if not os.path.exists(sqlite_output_file):
    conn = sqlite3.connect(sqlite_output_file)
    cursor = conn.cursor()    
    conn.commit()
    
    print(f"Base de datos SQLite guardada como: {sqlite_output_file}")
    
    conn.close()

In [1]:
import os
import pandas as pd
import polars as pl
from typing import Union
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

load_dotenv()

# Reemplaza USER y PASSWORD del .env
# engine = create_engine(f"postgresql+psycopg2://{os.getenv('USER')}:{os.getenv('PASSWORD')}@localhost:5432/postgres")
engine = create_engine("sqlite:///practica_sql.db", echo=True)

# Probar la conexión
try:
    connection = engine.connect()
    print("Conexión exitosa")
    connection.close()
except Exception as e:
    print(f"Error al conectar: {e}")


def ejecutar_query(query: str, devolver_polars: bool = False) -> Union[pd.DataFrame, pl.DataFrame, str]:
    """
    Ejecuta una consulta SQL en la base de datos y devuelve un DataFrame.

    Parámetros:
    - query (str): La consulta SQL a ejecutar.
    - devolver_polars (bool): Si es True, devuelve un polars DataFrame, si no, devuelve un pandas DataFrame (por defecto).

    Retorna:
    - Union[pd.DataFrame, pl.DataFrame, str]: Retorna un DataFrame en pandas o polars dependiendo del parámetro 'devolver_polars',
      o un mensaje de éxito/error si la operación no es un SELECT.
    """
    
    with engine.connect() as connection:
        try:
            result = connection.execute(text(query))
            
            # Determinar si es una consulta SELECT para devolver datos
            if result.returns_rows:
                rows = result.fetchall()
                columns = result.keys()

                # Convertir filas en un diccionario de listas para crear correctamente el DataFrame en polars
                data_dict = {col: [row[idx] for row in rows] for idx, col in enumerate(columns)}

                # Verificación de coincidencia de columnas y filas
                if devolver_polars:
                    return pl.DataFrame(data_dict)
                else:
                    return pd.DataFrame(data_dict)
            else:
                connection.commit()
                return f"Query ejecutada correctamente: {result.rowcount} filas afectadas."
        except Exception as e:
            return f"Error al ejecutar la query: {e}"

Conexión exitosa

### Crear base de datos

In [4]:
query_crear_schema =  "CREATE SCHEMA IF NOT EXISTS bootcamp"
ejecutar_query(query=query_crear_schema)

2024-12-09 21:15:52,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:15:52,871 INFO sqlalchemy.engine.Engine CREATE SCHEMA IF NOT EXISTS bootcamp
2024-12-09 21:15:52,872 INFO sqlalchemy.engine.Engine [generated in 0.00196s] ()
2024-12-09 21:15:52,873 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near "SCHEMA": syntax error\n[SQL: CREATE SCHEMA IF NOT EXISTS bootcamp]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS bootcamp.Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [5]:
query_crear_tabla1 = "CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));"
ejecutar_query(query= query_crear_tabla1)

2024-12-09 21:18:58,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:18:58,821 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));
2024-12-09 21:18:58,822 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ()
2024-12-09 21:18:58,830 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS bootcamp.Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id)
  );
```

In [7]:
query_crear_tabla2 = "CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));"
ejecutar_query(query= query_crear_tabla2)

2024-12-09 21:21:55,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:21:55,847 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));
2024-12-09 21:21:55,848 INFO sqlalchemy.engine.Engine [generated in 0.00217s] ()
2024-12-09 21:21:55,854 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS bootcamp.Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id)
  );

```

In [8]:
query_crear_tabla3 = "CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));"
ejecutar_query(query_crear_tabla3)

2024-12-09 21:22:18,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:22:18,243 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));
2024-12-09 21:22:18,244 INFO sqlalchemy.engine.Engine [generated in 0.00122s] ()
2024-12-09 21:22:18,252 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Check que se hayan creado las tablas

In [ ]:
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';"
ejecutar_query(query=query)

## DML - Insertar datos ficticios



```
INSERT INTO bootcamp.Customers 
VALUES 
(1, 'Juan', '1989-04-08', Null),
(2, 'Mario', '2005-05-05', Null),
(3, 'Laura', '2020-03-21', '2022-02-05')
;
```

In [9]:
query= "INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')"
ejecutar_query(query=query)

2024-12-09 21:31:21,870 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:31:21,871 INFO sqlalchemy.engine.Engine INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')
2024-12-09 21:31:21,871 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ()
2024-12-09 21:31:21,877 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 3 filas afectadas.'



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '2022-05-06', 45),
(2, 1, '2021-05-06', 60),
(3, 1, '2022-06-06', 70),
(4, 2, '2022-05-01', 5),
(5, 3, '2022-10-06', 145),
(6, 3, '2022-02-03', 2)
;
```

In [2]:
query = "INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);"
ejecutar_query(query=query)

2024-12-11 19:02:11,284 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:02:11,285 INFO sqlalchemy.engine.Engine INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);
2024-12-11 19:02:11,285 INFO sqlalchemy.engine.Engine [generated in 0.00138s] ()
2024-12-11 19:02:11,291 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 6 filas afectadas.'


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '2022-06-06', 'Barcelona'), 
(2, 2, '2021-06-06', 'Madrid'), 
(3, 3, '2022-06-10', 'Barcelona'), 
(4, 4, '2022-02-05', 'Vigo'), 
(5, 5, '2022-06-15', 'Barcelona'), 
(6, 6, '2022-03-05', 'Madrid')
;
```

In [3]:
query= "INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');"
ejecutar_query(query=query)

2024-12-11 19:02:24,834 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:02:24,835 INFO sqlalchemy.engine.Engine INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');
2024-12-11 19:02:24,836 INFO sqlalchemy.engine.Engine [generated in 0.00152s] ()
2024-12-11 19:02:24,841 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 6 filas afectadas.'

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

In [9]:
query= "SELECT *FROM CUSTOMERS"
ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:06:05,942 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:06:05,944 INFO sqlalchemy.engine.Engine SELECT *FROM CUSTOMERS
2024-12-11 19:06:05,944 INFO sqlalchemy.engine.Engine [cached since 156s ago] ()
2024-12-11 19:06:05,946 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌─────────────┬───────────────┬──────────────┬────────────┐
│ customer_id ┆ customer_name ┆ fecha_inicio ┆ fecha_fin  │
│ ---         ┆ ---           ┆ ---          ┆ ---        │
│ i64         ┆ str           ┆ str          ┆ str        │
╞═════════════╪═══════════════╪══════════════╪════════════╡
│ 1           ┆ Juan          ┆ 1989-04-08   ┆ null       │
│ 2           ┆ Mario         ┆ 2005-05-05   ┆ null       │
│ 3           ┆ Laura         ┆ 2020-03-21   ┆ 2022-02-05 │
└─────────────┴───────────────┴──────────────┴────────────┘

2. Retorna la cantidad de envios por shipment_city

In [27]:
query ='SELECT SHIPMENT_CITY, COUNT(*) as ship_city_counter FROM SHIPMENTS GROUP BY SHIPMENT_CITY' 

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:20:51,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:20:51,386 INFO sqlalchemy.engine.Engine SELECT SHIPMENT_CITY, COUNT(*) as ship_city_counter FROM SHIPMENTS GROUP BY SHIPMENT_CITY
2024-12-11 19:20:51,389 INFO sqlalchemy.engine.Engine [generated in 0.00218s] ()
2024-12-11 19:20:51,390 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 2)
┌───────────────┬───────────────────┐
│ shipment_city ┆ ship_city_counter │
│ ---           ┆ ---               │
│ str           ┆ i64               │
╞═══════════════╪═══════════════════╡
│ Barcelona     ┆ 3                 │
│ Madrid        ┆ 2                 │
│ Vigo          ┆ 1                 │
└───────────────┴───────────────────┘

3. Retorna la cantidad de envios a Barcelona

In [74]:
query = "SELECT SHIPMENT_CITY, COUNT(*) as ship_city_counter FROM SHIPMENTS WHERE SHIPMENT_CITY = 'Barcelona'"
# query = "SELECT SHIPMENT_CITY, COUNT(*) as ship_city_counter FROM SHIPMENTS limit 1"

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:35:39,651 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:35:39,651 INFO sqlalchemy.engine.Engine SELECT SHIPMENT_CITY, COUNT(*) as ship_city_counter FROM SHIPMENTS WHERE SHIPMENT_CITY = 'Barcelona'
2024-12-11 19:35:39,651 INFO sqlalchemy.engine.Engine [cached since 803.8s ago] ()
2024-12-11 19:35:39,654 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (1, 2)
┌───────────────┬───────────────────┐
│ shipment_city ┆ ship_city_counter │
│ ---           ┆ ---               │
│ str           ┆ i64               │
╞═══════════════╪═══════════════════╡
│ Barcelona     ┆ 3                 │
└───────────────┴───────────────────┘

4. Retorna todas las ordenes mayores a €50

In [79]:
query= 'SELECT * FROM ORDERS WHERE ORDER_PRICE > 50'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:41:27,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:41:27,867 INFO sqlalchemy.engine.Engine SELECT * FROM ORDERS WHERE ORDER_PRICE > 50
2024-12-11 19:41:27,867 INFO sqlalchemy.engine.Engine [cached since 901.3s ago] ()
2024-12-11 19:41:27,868 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌──────────┬─────────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ order_date ┆ order_price │
│ ---      ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ str        ┆ i64         │
╞══════════╪═════════════╪════════════╪═════════════╡
│ 2        ┆ 1           ┆ 2021-05-06 ┆ 60          │
│ 3        ┆ 1           ┆ 2022-06-06 ┆ 70          │
│ 5        ┆ 3           ┆ 2022-10-06 ┆ 145         │
└──────────┴─────────────┴────────────┴─────────────┘

5. Retorna el cliente que más dinero gasto

In [144]:
query= 'SELECT CUSTOMER_ID, SUM(ORDER_PRICE) AS TOTAL FROM ORDERS GROUP BY CUSTOMER_ID ORDER BY TOTAL DESC LIMIT 1'

ejecutar_query(query=query)

2024-12-11 20:59:17,653 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:59:17,653 INFO sqlalchemy.engine.Engine SELECT CUSTOMER_ID, SUM(ORDER_PRICE) AS TOTAL FROM ORDERS GROUP BY CUSTOMER_ID ORDER BY TOTAL DESC LIMIT 1
2024-12-11 20:59:17,655 INFO sqlalchemy.engine.Engine [cached since 4721s ago] ()
2024-12-11 20:59:17,656 INFO sqlalchemy.engine.Engine ROLLBACK

   customer_id  TOTAL
0            1    175

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

In [105]:
query= 'SELECT CUSTOMERS.CUSTOMER_NAME AS CLIENT_NAME, SUM(ORDER_PRICE) AS TOTAL FROM CUSTOMERS FULL JOIN ORDERS ON CUSTOMERS.CUSTOMER_ID = ORDERS.CUSTOMER_ID GROUP BY CLIENT_NAME ORDER BY TOTAL DESC LIMIT 1'

ejecutar_query(query=query)

2024-12-11 20:03:38,136 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:03:38,137 INFO sqlalchemy.engine.Engine SELECT CUSTOMERS.CUSTOMER_NAME AS CLIENT_NAME, SUM(ORDER_PRICE) AS TOTAL FROM CUSTOMERS FULL JOIN ORDERS ON CUSTOMERS.CUSTOMER_ID = ORDERS.CUSTOMER_ID GROUP BY CLIENT_NAME ORDER BY TOTAL DESC LIMIT 1
2024-12-11 20:03:38,137 INFO sqlalchemy.engine.Engine [cached since 6.143s ago] ()
2024-12-11 20:03:38,139 INFO sqlalchemy.engine.Engine ROLLBACK

  CLIENT_NAME  TOTAL
0        Juan    175

7. Retornar la duración promedio de los clientes que se dieron de baja.

In [131]:
query= 'SELECT CAST(AVG(CAST(FECHA_FIN-FECHA_INICIO) AS INT) AS DATETIME) FROM CUSTOMERS WHERE FECHA_FIN IS NOT NULL'

ejecutar_query(query=query)

2024-12-11 20:47:25,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:47:25,945 INFO sqlalchemy.engine.Engine SELECT CAST(AVG(CAST(FECHA_FIN-FECHA_INICIO) AS INT) AS DATETIME) FROM CUSTOMERS WHERE FECHA_FIN IS NOT NULL
2024-12-11 20:47:25,946 INFO sqlalchemy.engine.Engine [cached since 2105s ago] ()
2024-12-11 20:47:25,947 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near ")": syntax error\n[SQL: SELECT CAST(AVG(CAST(FECHA_FIN-FECHA_INICIO) AS INT) AS DATETIME) FROM CUSTOMERS WHERE FECHA_FIN IS NOT NULL]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

In [132]:
query= 'select name, type from customers'
ejecutar_query(query=query)

2024-12-11 20:47:31,786 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:47:31,786 INFO sqlalchemy.engine.Engine select name, type from customers
2024-12-11 20:47:31,788 INFO sqlalchemy.engine.Engine [cached since 1809s ago] ()
2024-12-11 20:47:31,789 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) no such column: name\n[SQL: select name, type from customers]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

8. Retornar los clientes que tienen una 'a' en el nombre.

In [118]:
query= "SELECT CUSTOMER_NAME FROM CUSTOMERS WHERE CUSTOMER_NAME LIKE '%A%'"

ejecutar_query(query=query)

2024-12-11 20:11:37,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:11:37,071 INFO sqlalchemy.engine.Engine SELECT CUSTOMER_NAME FROM CUSTOMERS WHERE CUSTOMER_NAME LIKE '%A%'
2024-12-11 20:11:37,072 INFO sqlalchemy.engine.Engine [cached since 9.027s ago] ()
2024-12-11 20:11:37,073 INFO sqlalchemy.engine.Engine ROLLBACK

  customer_name
0          Juan
1         Mario
2         Laura